img{
    height: 100px;
    width: 100px;
    margin: 0;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #f8f8f8;
    border-bottom: 1px solid #ddd;
}

.logo-container img {
    height: 50px;
}

.nav-container ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center; /* Center items vertically */
}

.nav-container ul li {
    margin-right: 20px; /* Add spacing between the list items */
}

.nav-container ul li:last-child {
    margin-right: 0; /* Remove margin from the last item */
}

.nav-container ul li a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}
